/*  Responsive Themes  */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(112, 111, 112, 0.2);
}

body::-webkit-scrollbar-thumb {
  background: #1c4a6c;
}

html, body {
  font-family: "Roboto Condensed";
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*  Header and Footer | Document  */
.horz__bar, header, footer {
  background: #1c4a6c;
  border: 1px solid;
  min-height: 76px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 48;
}

header {
  top: 0;
}

header h1 {
  font-size: 2em;
  margin: 30px;
}

header h1 span {
  color: #f4925c;
}

@media only screen and (min-width: 62.1em) {
  header {
    text-align: left;
  }
}

footer {
  bottom: 0px;
  text-align: center;
}

main {
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: (minmax(256px, 96%))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(256px, 96%));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  margin: 112px 0;
  min-height: 120vh;
}

@media only screen and (min-width: 48.1em) and (max-width: 62em) {
  main {
    -ms-grid-columns: (46%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 46%);
  }
}

@media only screen and (min-width: 62.1em) {
  main {
    -ms-grid-columns: (22%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 22%);
  }
}

/*  Cards  */
article.acx-card__sextuple {
  border: 1px solid #aab5c3;
  border-radius: 6px;
  margin: 8px;
  padding: 0;
  min-height: 276px;
  width: 100%;
}

article.acx-card__sextuple aside {
  background-color: #667d96;
  padding: 4px;
  position: relative;
}

article.acx-card__sextuple aside h2 {
  font-size: 1.2em;
  margin: 6px 0;
  padding: 4px;
}

article.acx-card__sextuple aside a {
  cursor: pointer;
  display: block;
  fill: #fff;
  position: absolute;
  top: 12px;
  right: 12px;
}

article.acx-card__sextuple > section {
  margin: 8px;
  padding: 8px;
}

/*  Call to Action  */
.cta__click {
  background-color: #f4925c;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 12px auto;
  text-align: center;
}

/*  Helpers  */
.h-image__image--cover {
  background-image: url(https://neodigm.github.io/accucontax/dist/avatar.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.h-text__caption, header h1, article.acx-card__sextuple aside h2, .cta__click {
  color: #fff;
  font-weight: 100;
}

.h-form__input {
  display: block;
  font-size: 16px;
  color: #1c4a6c;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 8px 0;
  border: 1px solid #aab5c3;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  background-color: #fff;
}

.h-form__select {
  display: block;
  font-size: 16px;
  color: #1c4a6c;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #aab5c3;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23f4925c%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23f4925c%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.h-form__select:focus {
  border-color: #888888;
  -webkit-box-shadow: 0 0 1px 3px rgba(158, 118, 119, 0.6);
          box-shadow: 0 0 1px 3px rgba(158, 118, 119, 0.6);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.h-form__grid--icons {
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  -ms-grid-columns: (68% 24%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 68% 24%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
}

.h-form__grid--icons a {
  display: inline-block;
  margin: 12px 2px;
}

.h-form__grid--icons svg {
  cursor: pointer;
  fill: #667d96;
}

.h-form__grid--icons svg.js-delete {
  fill: #ee2222;
}

.h-form__grid--icons svg:hover {
  fill: #1c4a6c;
}
/*# sourceMappingURL=ax.css.map */