@import url('mixins');
html, body {
    font-family: theme__type( family );
    font-weight: theme__type( weight );
    height: 100%;
    margin: 0;
    padding: 0;
}
.horz__bar {
    background: theme__day( info );
    border: 1px solid theme__day( info );
    min-height: 76px;
    position: fixed;
    text-align: center;
    width: 100%;
}
header {
    @extend .horz__bar;
    top: 0;
    h1 {
        color: #fff;
        font-size: 22px;
        font-weight: 100;
        margin: 30px;
        span {
            color: theme__day( primary );
        }
    }
}
footer {
    @extend .horz__bar;
    bottom: 0px;
}
main {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill,minmax( 256px,96% ));
    justify-content: space-around;
    justify-items: center;
    margin: 80px 0;
    min-height: 120vh;
    @include tablet__mq {
        grid-template-columns: repeat(auto-fill,46%);
    }
    @include desktop__mq {
        grid-template-columns: repeat(auto-fill,22%);
    }
}
article.acx-card__sextuple {
    border: 1px solid theme__day( primary-light );
    margin: .6em;
    padding: .6em;
    width: 100%;
    aside {
        background-color: theme__day( accent );
    }
}